<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img src="../../../assets/OnlineShpng.png" alt="" class="homeImg" />
    </div>
    <div class="col-md-4 total">
      <mat-card class="mb20 homeCard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image1"></div>
          <mat-card-title> Users </mat-card-title>
          <mat-card-title> {{ totalUsers }}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="mb20 homeCard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title> Products </mat-card-title>
          <mat-card-title> {{ totalProducts }} </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="mb20 homeCard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image3"></div>
          <mat-card-title> Brands </mat-card-title>
          <mat-card-title> {{ totalBrands }} </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="mb20 homeCard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image4"></div>
          <mat-card-title> Reviews </mat-card-title>
          <mat-card-title> {{ totalReviews }} </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
