<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 4px">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/logo.png" />
          </div>
          <h1 class="text-center">Login Here !!</h1>
          <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Name</mat-label>
              <input
                [(ngModel)]="loginData.username"
                formControlName="username"
                name="username"
                matInput
                placeholder="Enter here"
              />

              <mat-hint>Valid User Name</mat-hint>
              <mat-error *ngIf="loginForm.get('username').hasError('required')"
                >User name is required</mat-error
              >
            </mat-form-field>

            <!-- password field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Password</mat-label>
              <input
                [(ngModel)]="loginData.password"
                formControlName="password"
                name="password"
                required
                type="password"
                matInput
                placeholder="Enter here"
              />
              <mat-error *ngIf="loginForm.get('password').hasError('required')"
                >Password is required</mat-error
              >
            </mat-form-field>

            <div class="container text-center">
              <button
                mat-raised-button
                [disabled]="!loginForm.valid"
                color="primary"
                type="submit"
              >
                Login
              </button>
              <button
                class="ml10"
                mat-raised-button
                color="accent"
                onclick="window.location.reload()"
              >
                Reset
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
